name: cicd
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main , dev]

permissions:
  packages: write
  contents: read

jobs:
  build-dev:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to github container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 
      
      - name: set tags with commit sha
        run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/go01-app:dev-${{ env.SHORT_SHA }} 
            ghcr.io/${{ github.repository_owner }}/go01-app:dev-latest

